BOT_TOKEN=YOUR_TELEGRAM_API_TOKEN
PROXY_URL=YOUR_PROXY_URL
PASSWORD=YOUR_SECRET_PASSWORD
MAIN_ADMIN_ID=YOUR_TELEGRAM_ID
YANDEX_TOKEN=YOUR_YANDEX_MUSIC_TOKEN
# BOT_NAME=pptpi
# METRICS_PORT=9103
LOG_LEVEL=DEBUG
LOG_FILE=logs/custom.log
LOG_MAX_SIZE=5
LOG_BACKUP_COUNT=7
